.transease {
  transition: 300ms ease-in-out;
}

.transfast {
  transition: 100ms ease-in-out;
}

.fadeIn {
  animation: fadeIn 300ms linear forwards;
}

@keyframes fadeIn {
  from {opacity: 0} to {opacity: 1}
}

@tailwind base;
@tailwind utilities;
@tailwind components;